.history-dropdown {
	display: flex;
	flex-direction: column;
	height: auto;
	width: 12rem;
	margin-left: -35%;
	position: absolute;
	/* border: 3px solid #f57600; */
	/* margin-top: 1rem; */
	/* background: gold; */
}

/* .history-dropdown:hover { */
/* visibility: visible; */
/* position: absolute; */
/* text-decoration: none; */
/* background: transparent; */
/* } */

.history-dropdown .sub-dropdown {
	padding: 5px;
	text-decoration: none;
	background: #ffe082;
	border-radius: 5px;
	align-items: center;
	text-align: center;
	/* padding: 2px 5px; */
	border: 1px solid #f57600;
	box-shadow: 2px 2px 2px #f57600;
}

.history-dropdown .sub-dropdown:hover {
	background: #fbc02d;
	color: #f57c00;
}

/* .history-dropdown ul {
	position: relative;
	margin-top: 1.7rem;
	margin-left: -4rem;
	width: 12rem;
	background: #ffec9e;
} */

/* .history-dropdown ul li {
	width: 120px;
	list-style: none;
	padding: 0.5rem;
} */

/* .history-dropdown ul li Link {
	text-decoration: none;
} */

/* .active,
.history-dropdown ul li Link {
	background: blue;
} */
