* {
	margin: 0;
	padding: 0;
	box-size: border-box;
}

/* .container {
	height: 60vh;
} */

.main-container {
	display: flex;
}

.child-container {
	min-height: 604px;
	width: 80%;
	background-image: url('./Logo 10 percent no background.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	/* background-blend-mode: lighten; */
	/* opacity: 0.1; */
}
