* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* .container {
	height: 60vh;
} */

body {
	height: 100vh;
}

.main-container {
	display: flex;
}

.navbar-sticky {
	position: sticky;
	top: 0;
}

.footer-sticky {
	position: sticky;
	bottom: 0;
}

.child-container {
	min-height: 604px;
	/* position: sticky; */
	width: 80%;
	background-image: url('./Logo 10 percent no background.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	/* background-blend-mode: lighten; */
	/* opacity: 0.1; */
	padding: 0.4rem 1rem;
}

/* .child-container */
