.adv-container {
	background: #ccffe6;
	width: 20%;
}

.advertises {
	position: sticky;
	height: 18.5%;
	width: 85%;
	margin: 0.9rem 1rem;
	padding: 0 0.4rem;
	border-radius: 0.5rem;
	background: #d7d4f7;
	box-shadow: 5px 6px #b3b3b3;
}
