.navbar {
	background: #800000;
	/* background: #7c1c1d; */
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	height: 5rem;
	padding: 0 2rem;
}

.menu-items {
	color: gold;
	text-decoration: none;
	font-weight: bold;
}

.menu-items:hover {
	text-shadow: 2px 1px #e67300;
}

.est-datetime {
	color: white;
	/* font-weight: bold; */
	text-shadow: 1px 1px #e67300;
}

.nst-datetime {
	color: #5338ff;
	/* font-weight: bold; */
	text-shadow: 1px 1px #e67300;
}

.logo {
	width: 5rem;
	height: 5rem;
	/* position: absolute; */
}

.home-logo {
	display: flex;
	position: absolute;
	height: 8rem;
	border-radius: 1rem;
	/* top: 10; */
}
