.navbar {
	background: #800000;
	/* background: #7c1c1d; */
	display: flex;
	position: relative;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	height: 5rem;
	padding: 0 2rem;
}

.menu-items {
	position: relative;
	color: gold;
	text-decoration: none;
	font-weight: bold;
}

.menu-items .sub-menu {
	visibility: hidden;
}

.menu-items:hover .sub-menu {
	visibility: visible;
}

.menu-items:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 3px;
	width: 0%;
	border-radius: 5px;
	background: #f58b00;
	/* background: #d67900; */
	margin: -5px -5px;
	transition: all 0.4s ease;
}

.menu-items:hover:before {
	width: 120%;
}

.est-datetime {
	color: white;
	/* font-weight: bold; */
	text-shadow: 1px 1px #e67300;
}

.nst-datetime {
	color: #5338ff;
	/* font-weight: bold; */
	text-shadow: 1px 1px #e67300;
}

.logo {
	width: 5rem;
	height: 5rem;
	/* position: absolute; */
}

.home-logo {
	display: flex;
	position: absolute;
	height: 8rem;
	border-radius: 1rem;
	/* top: 10; */
}
